.sectionItem {
  display: flex;
  justify-content: center;
  padding: 20px;
  &__logo {
    align-self: center;
    margin-right: 10%;
  }
  a {
    text-decoration: none;
  }
  &__info {
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba($color: lightgrey, $alpha: 0.5), 0 5px 5px 0 rgba($color: lightgrey, $alpha: 0.5);
    background-color: white;
    color: #002649;
    font-weight: bolder;
    &__name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: large;
      margin-bottom: 5px;
    }
    &__description {
      height: 56px;
      margin-bottom: 5px;
      font-weight: lighter;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    &__container {
      display: flex;
      flex-direction: row;
    }
    &__projectUserName {
      display: flex;
      margin: 5px;
      flex-direction: row;
    }
  }
}
