@import "src/pages/components/CompanyPanel/components/EditCompany/components/CompanyProfile/_responsive.scss";

.mainPaper{
  @include MQ(MD) {
    margin: 0 auto 10rem;
    padding: 3rem;
  }

  @include MQ(LG) {
    margin: auto;
    border-radius: 5px;
    padding: 5rem;
  }
  top: -8px;
  box-sizing: border-box;
  max-width: 53em;
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.todolist_header {
  display: block;
  position: relative;
  padding: 0.33em 0 0.33em 2.8rem;
}

.todolist_title{
  font-size: 2em;
  font-style: normal;
}
.todolist_title:hover{
  cursor: pointer;
}

.todolist_details{
  cursor: pointer;
  font-size:16px;
  margin: 10px 0;
  width: 100%;
  word-break: break-all;
}

.goBack {
  text-align: center;
  display: block;
  height: auto;
  margin: auto;
  top: 11px;
  padding-bottom: 14px;
  padding-top: 14px;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 48em;
  background: #fff;
  .icon {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 3px;
    .square {
      width: 16px;
      height: 16px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: space-between;
      & > div {
        width: 5px;
        height: 5px;
        border: solid 1px #cecece;
        margin: 0.2px;
        border-radius: 1px;
      }
    }
    .name {
      margin-left: 8px;
      margin-bottom: 3px;
      text-decoration: underline;
      color: dodgerblue;
      font-weight: 700;
    }
  }
}
