$MD: 768px;

@mixin MQ($canvas) {
  @if $canvas==MD {
    @media screen and (max-width: $MD - 16) {
      @content;
    }
  }
}

.aw-logo {
	@include MQ(MD) {
		background-image: url('../../../../assets/svgs/logoWithoutTexts.svg');
	}
	background-image: url('../../../../assets/svgs/logoWithTexts.svg');
	background-repeat: no-repeat;
	min-width: 150px;
	width: 200px;
	height: 50px;
}
