@import "src/pages/components/CompanyPanel/components/EditCompany/components/CompanyProfile/_responsive.scss";
.todoitem__createDetail{
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 8px;
}

.todoitem__details{
  width: 100%;
}

.todoitem__field{
  border-top: 1px solid rgba(0,0,0,0.05) ;
  display: flex;
  @include MQ(MD) {
    display: block;
  }
  @include MQ(LG) {
    display: flex;
  }
}


.todoitem__field--label{
  width: 190px;
  height: 26px;
  padding: 9.6px 15px 9.6px 0;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: end;
  color: rgb(39,52,61);
  @include MQ(MD) {
    text-align: start;
  }
  @include MQ(LG) {
    text-align: end;
  }
}

.todoitem__field--content{
  height: 26px;
  padding-top: 9.6px;
  padding-bottom: 9.6px;
}
.content__input{
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}
.content__input:focus{
  outline: none;
  cursor: auto;
}
@mixin content{
  font-size: 1.23rem;
  padding-left: 2px;
  cursor: pointer;
  text-align: left;
  float: left;
}
.content__block{
  @include content;
  color: #757575;
}
.content__show{
  @include content;
  color: #27343d;
}
.button__area{
  display: flex;
}
.button__area--hide{
  display: none;
}
.button--save{
  margin-top: 15px;
}
.button--discard{
  margin-left: 8px;
  margin-top: 15px;
}
