.companysection {
  text-align: center;
  &__title {
    white-space: nowrap;
    overflow: hidden;
    color: #877457;
    background-color: #f6f2ef;
    font-size: 20px;
    position: relative;
    top: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 2;
  }
  &__divider {
    position: relative;
    z-index: 1;
  }
}
