@import "src/pages/components/TodosPanelPage/components/responsive";


.todoLists{
  list-style: none;
  padding-left: 0 !important;
}
.todoList_map{
  position: relative;
  margin-bottom: 56px;
}
.map_drag{
  position: absolute;
  left: 0;
  top: 0;
  height: 1em;
  width: 1em;
  cursor: move;
  color: #d9d9d9;
}

.title {
  padding-left: 2.4em;
  position: relative;
  margin: 0;
  line-height: 1.2
}

.map_name{
  font-size: 18.72px;
  font-weight: bold;
  font-style: normal;
  color: #3466c2;
  text-decoration: underline;
  margin: 0;
}
.map_name:hover{
  cursor: pointer;
}
.map_details{
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  margin-top: 0.25em;
  padding-left: 2.8em;
}
.map_details:hover{
  cursor: pointer;
}

.map_color{
  color: black;
}
